body {
  font-family: 'Roboto', sans-serif;
}


.responsive-nav-social-mobile {
  background: #d7d7d7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li {
  font-size: 1.5rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li .fa {
  color: #8a8a8a;
  margin-right: -0.7rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon {
  margin-right: 1rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon::after {
  padding-right: 1.5rem;
  background: #4ec6cd;
  box-shadow: 0 7px 0 #4ec6cd, 0 14px 0 #4ec6cd;
}

.responsive-nav-social {
  padding: 1rem;
  background-color: #fff;
}

.responsive-nav-social.is-stuck {
  width: 100%;
  box-shadow: 0px 4px 10px -2px rgba(128, 128, 128, 0.68);
}

.responsive-nav-social a {
  color: #8a8a8a;
  font-size: 0.8rem;
}

.responsive-nav-social a:hover {
  color: #4ec6cd;
  transition: color 0.2s ease-in;
}

@media screen and (max-width: 39.9375em) {
  .responsive-nav-social .menu li a {
    font-size: 1.5rem;
    padding: 1.5rem;
    color: #4ec6cd;
  }
  .responsive-nav-social li {
    border-bottom: 3px solid #4ec6cd;
  }
  .responsive-nav-social li:last-of-type {
    border: 0;
  }
  .responsive-nav-social .responsive-nav-social-left {
    width: 100%;
  }
  .responsive-nav-social .responsive-nav-social-left .menu.vertical a {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.responsive-nav-social .responsive-nav-social-right a {
  padding-right: 0.1rem;
}

.responsive-nav-social i.fa {
  font-size: 1.3rem;
  color: #8a8a8a;
}

.responsive-nav-social i.fa:hover {
  color: #4ec6cd;
  transition: color 0.2s ease-in;
}

.sticky-container {
  width: 100%;
}






.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}



















.social-icon-button {
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  background: none;
}

.social-icon-button + .social-icon-button {
  margin-left: 0.25rem;
}

.social-icon-button .fa {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  line-height: 3.6rem;
  transition: all 0.3s ease-in-out;
}

.social-icon-button span {
  display: block;
  border-radius: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.social-icon-button:hover .fa {
  color: #fefefe;
}

.social-icon-button:hover span {
  display: block;
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
}

.social-icon-button.gplus {
  color: #dd4b39;
}

.social-icon-button.gplus span {
  background-color: #dd4b39;
}

.social-icon-button.twitter {
  color: #55acee;
}

.social-icon-button.twitter span {
  background-color: #55acee;
}

.social-icon-button.facebook {
  color: #3b5998;
}

.social-icon-button.facebook span {
  background-color: #3b5998;
}



/*-------------------------------------
Bloque CSS Grid 3 Columnas 1 Renglon
-------------------------------------*/
.acr-gridlayout-slideis3to1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*Numero de columnas en el layout */
  height: 100%;
}

.acr-slideis3to1-is1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.acr-slideis3to1-is2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.acr-slideis3to1-is3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
/*-------------------------------------*/


/*-------------------------------------
Bloque CSS Grid 2 Columnas 1 Renglon
-------------------------------------*/
.acr-gridlayout-slideis2to1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  height: 100%;

}

.acr-slideis2to1-is1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.acr-slideis2to1-is2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/*-------------------------------------
Subloque CSS Grid 1 Columnas 2 Renglones
-------------------------------------*/
.acr-gridlayout-slideis1to2 {
  display: grid;
  grid-template-columns: 1fr; /*Numero de columnas en el layout */
  height: 100%;
}

.acr-slideis1to2-is1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.acr-slideis1to2-is2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
/*-------------------------------------*/



/*-------------------------------------
CSS Grid Gap
-------------------------------------*/
.acr-gridlayout-gap40 {
  grid-gap: 40px;
}

.acr-gridlayout-gap20 {
  grid-gap: 20px;
}

/*-------------------------------------*/
.acr-gridlayout-fract {

}
.acr-gridheight-main-is1{
  grid-template-rows: 500px;
}

.acr-gridheight-footer-is1 {
  grid-template-rows: 200px;
}

.acr-gridheight-footer-is2 {
  grid-template-rows: 50px;
}

/*-------------------------------------
Home: Footer
-------------------------------------*/

.acr-footer {
  color: #fff;
}



.acr-footer-slideis1 {
  background-color: #21338E;
  padding: 1%;
}
.acr-footer-slideis2 {
  background-color: #2C3646;
}

.acr-flexcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acr-flex-center {
  justify-content: center;
}

.acr-flex-start {
  justify-content: flex-start;
}

.acr-flex-end {
  justify-content: flex-end;
}

.acr-brandtitle-content {

}




/*-------------------------------------*/

.acr-hero {
  margin-bottom: 50px;
}
