.acr-gridheight-main{
  grid-template-rows: 500px;
}

.acr-gridheight-gallery {
  grid-template-rows: 300px 300px;
}

.acr-gridheight-footercont{
  grid-template-rows: 80%;
}
/*-------------------------------------
ACR: Main Content
-------------------------------------*/
.acr-main {

}

.acr-main-content {
  min-height: 400px;
}

.acr-contact-map {
  height: 600px;
}

/*-------------------------------------
Projects: Main Content
-------------------------------------*/
.acr-gridheight-projects{
  grid-template-rows: 300px 400px;
}

.acr-gridrows-home,
.acr-gridrows-footercont {
  grid-template-columns: repeat(3, 1fr);
}

.acr-gridrows-footer {
  grid-template-columns: 1fr 2fr 1fr;
}
