/*-------------------------------------
Media Queries
-------------------------------------*/
@media screen and (max-width: 40em) {

  .responsive-nav-social .menu ul {
    border-top: 1px solid #8a8a8a;
  }
  .responsive-nav-social .menu li a {
    font-size: 1rem;
    padding: 1rem;
    color: #8a8a8a;
  }
  /*
  .responsive-nav-social li {
    border-bottom: 3px solid #21338E;
  }*/

  .responsive-nav-social li:last-of-type {
    border: 0;
  }


  .responsive-nav-social .responsive-nav-social-left {
    width: 100%;
  }

  .responsive-nav-social .responsive-nav-social-left .menu.vertical a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*-------------------------------------
  Bloque CSS Grid 3 Columnas 1 Renglon a 1 columna 3 Renglones
  -------------------------------------*/
  .acr-gridlayout-slideis3to1 {
    grid-template-columns: 1fr; /*Numero de columnas */
    grid-template-rows:  1fr 1fr 1fr;
  }

  .acr-slideis3to1-is1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .acr-slideis3to1-is2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .acr-slideis3to1-is3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .acr-slideis3to1-is4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .acr-slideis3to1-is5 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .acr-slideis3to1-is6 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }


  /*-------------------------------------
  Bloque CSS Grid 2 Columnas 1 Renglon -> 1 columna 2 renglones
  -------------------------------------*/

  .acr-gridlayout-slideis2to1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .acr-slideis2to1-is1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .acr-slideis2to1-is2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .acr-brand-year {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .acr-gridheight-footer-is1 {
    grid-template-rows: 150px;
  }

}
