/*-------------------------------------
Media Queries
-------------------------------------*/
@media only screen and  (min-width : 19.9375em) and (max-width : 29.9375em) {
  .responsive-nav-social .menu ul {
    border-top: 1px solid #8a8a8a;
  }
  .responsive-nav-social .menu li a {
    font-size: 1rem;
    padding: 1rem;
    color: #8a8a8a;
  }
  /*
  .responsive-nav-social li {
    border-bottom: 3px solid #21338E;
  }*/

  .responsive-nav-social li:last-of-type {
    border: 0;
  }


  .responsive-nav-social .responsive-nav-social-left {
    width: 100%;
  }

  .responsive-nav-social .responsive-nav-social-left .menu.vertical a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .lay-grid-slideis2to1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .grid-slideis2to1-is1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .grid-slideis2to1-is2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }


   /*-------------------------------------
   Home Page Mobile Layout
   -------------------------------------*/
   .acr-main-content {
     grid-template-columns: 1fr;
     grid-template-rows: 100px 1fr 1fr 1fr;
   }
   .acr-main-content .main-title {
     grid-column: 1 / 2;
     grid-row: 1 / 2;
   }
   .acr-main-content .main-projects {
     grid-column: 1 / 2;
     grid-row: 2 / 3;
   }
   .acr-main-content .main-building {
     grid-column: 1 / 2;
     grid-row: 3 / 4;
   }
   .acr-main-content .main-budget {
     grid-column: 1 / 2;
     grid-row: 4 / 5;
   }

   .acr-main-content .main-projects img,
   .acr-main-content .main-building img,
   .acr-main-content .main-budget img {
    display: none;
   }


   .acr-main-content .main-projects .grid-slideis1to2-is2 {
     background-image: url('/assets/img/home/acr-projects.jpeg');

   }
   .acr-main-content .main-building .grid-slideis1to2-is2 {
     background-image: url('/assets/img/home/acr-services.jpeg');

   }
   .acr-main-content .main-budget .grid-slideis1to2-is2 {
     background-image: url('/assets/img/home/acr-budgets.jpeg');
   }

   .acr-main-content .main-projects .grid-slideis1to2-is2,
   .acr-main-content .main-building .grid-slideis1to2-is2,
   .acr-main-content .main-budget .grid-slideis1to2-is2 {
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }



  /*-------------------------------------
  About Us Page Mobile Layout
  -------------------------------------*/
  .aboutus-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 200px 550px;
  }

  .aboutus-content .title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .aboutus-content .image {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-image: url('../img/aboutus/acr-aboutus-alt.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .aboutus-content .image img {
    display: none;
  }

  .aboutus-content .desc {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }


  /*-------------------------------------
  Layout CSSGrid Gallery Projects
  -------------------------------------*/
  .grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-rows: repeat(2, 1fr);

  }

  .gallery-item1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .gallery-item2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery-item3 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .gallery-item4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .gallery-item5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .gallery-item6 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .gallery-item7 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .gallery-item8 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
  }

  .gallery-item9 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  .gallery-item10 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
  }

  .gallery-item11 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }

  .gallery-item12 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }

  .gallery-item13 {
    grid-column: 2 / 3;
    grid-row: 7 / 9;
  }

  .gallery-item14 {
    grid-column: 2 / 3;
    grid-row: 9 / 10;
  }

  .gallery-item15 {
    grid-column: 2 / 3;
    grid-row: 10 / 11;
  }

  .gallery-item16 {
    grid-column: 1 / 2;
    grid-row: 9 / 11;
  }

  .gallery-item17 {
    grid-column: 1 / 2;
    grid-row: 11 / 13;
  }

  .gallery-item18 {
    grid-column: 2 / 3;
    grid-row: 11 / 13;
  }

  .gallery-item19 {
    grid-column: 1 / 2;
    grid-row: 13 / 15;
  }

  .gallery-item20 {
    grid-column: 2 / 3;
    grid-row: 13 / 15;
  }

  .gallery-item21 {
    grid-column: 1 / 2;
    grid-row: 15 / 16;
  }






}

@media only screen and  (min-width : 30em) and (max-width : 47.938em) {
  .contacts-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .contacts-content .address {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .contacts-content .phone {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .contacts-content .email {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

@media only screen and  (min-width : 48em) and (max-width : 63.938em) {

  .contacts-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .contacts-content .address {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .contacts-content .phone {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .contacts-content .email {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

}

@media only screen and  (min-width : 64em) {
  .enterprise-content  {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /*Numero de columnas */
    grid-template-rows:  1fr;
    grid-gap: 10px;
  }

  .enterprise-content .brand {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .enterprise-content .contacts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .enterprise-content .social {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .enterprise-content .social {
    display: flex;
    flex-direction: column;
  }


  .contacts-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .contacts-content .address {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .contacts-content .phone {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .contacts-content .email {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  /*-------------------------------------
  Layout CSSGrid 2 Columnas 1 Renglon
  -------------------------------------*/
  .links-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:  1fr;
  }

  .links-content .year-made {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .links-content .sub-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

}
