/* ----------------------------------------------

Home: Fonts

------------------------------------------------- */
@font-face {
 font-family: 'Regencie';
 src: url("../fonts/RegencieLight.ttf");
 font-weight: normal;
}


@font-face {
  font-family: 'Monument';
  src:  url('../fonts/Monument_Valley_1.2-Regular.otf');
  font-weight: normal;
}


@font-face {
  font-family: 'Browa';
  src:  url('../fonts/browa_0.ttf');
  font-weight: normal;
}


@font-face {
 font-family: 'Aliquam';
 src: url("../fonts/Aliquam.ttf");
 font-weight: normal;
}


@font-face {
 font-family: 'AliquamR';
 src: url("../fonts/AliquamREG.ttf");
 font-weight: normal;
}

@font-face {
 font-family: 'PoiretOne';
 src: url("../fonts/PoiretOne-Regular.ttf");
 font-weight: normal;
}


@font-face {
 font-family: 'DosisL';
 src: url("../fonts/Dosis-Light.ttf");
 font-weight: normal;
}
