/* ----------------------------------------------

Home: CSS Grid Layout

------------------------------------------------- */

.acr-layoutgrid-main {
  grid-template-columns: repeat(3, 1fr); /*Numero de columnas en el layout */
  grid-template-rows: 100px 300px 400px 200px 100px 300px 400px 200px 100px 300px;
  grid-gap: 20px;
}

.acr-main-title1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.acr-main-work1 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.acr-main-work2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.acr-main-work3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.acr-main-projects {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.acr-main-title2 {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

.acr-main-work4{
  grid-column: 1 / 3;
  grid-row: 6 / 8;
}

.acr-main-work5{
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

.acr-main-work6{
  grid-column: 3 / 4;
  grid-row: 7 / 8;
}

.acr-main-services {
  grid-column: 1 / 4;
}


.acr-main-title3 {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
}

.acr-main-title4 {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
}


.acr-main-title5 {
  grid-column: 3 / 4;
  grid-row: 9 / 10;
}

.acr-main-contact {
  grid-column: 1 / 2;
  grid-row: 10 / 11;
}


.acr-main-aboutus {
  grid-column: 2 / 3;
  grid-row: 10 / 11;
}

.acr-main-privacity {
  grid-column: 3 / 5;
  grid-row: 10 / 11;
}


/* ----------------------------------------------

Home: Main Content

------------------------------------------------- */
.cre-full {
  height: 100%;
}



.acr-layoutgrid-work {
  display: grid;
  grid-template-columns: 1fr; /*Numero de columnas en el layout */
  grid-template-rows: 6fr 1fr;
}

.acr-work-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.acr-work-desc {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}



.acr-images-work1 {
  background: url('/img/02.jpg') no-repeat top center;
}

.acr-images-work2 {
  background: url('/img/01.jpg') no-repeat top center;
}

.acr-images-work3 {
  background: url('/img/19.jpg') no-repeat top center;
}

.acr-images-work4 {
  background: url('/img/12.jpg') no-repeat top center;
}
.acr-images-work5 {
  background: url('/img/14.jpg') no-repeat top center;
}
.acr-images-work6 {
  background: url('/img/15.jpg') no-repeat top center;
}






.acr-projects-content {
  background: url('../../img/acr-projects.jpg') no-repeat top center;
}

.acr-services-content {
  background: url('../../img/acr-services.jpg') no-repeat top center;
}

.acr-contact-content {
  background: url('/img/contact.jpg') no-repeat top center;
}

.acr-aboutus-content {
  background: url('/img/nosotros.jpg') no-repeat top center;
}

.acr-privacity-content {
  background: url('/img/privacity.jpg') no-repeat top center;
}


.acr-links {
  background-color: rgba(0, 0, 0, 0.7);
}


.acr-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.acr-hero {
  background: url('/img/cover02.jpg') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 20px;
}

.acr-main {
  margin-bottom: 50px;
}


.acr-font-monument {
  font-family: "Monument", Georgia, Serif;
  text-decoration: underline;

}

.acr-font-maintitle {
  font-size: 7em;
  font-weight: 700;
}

.acr-font-regencie {
  font-family: "Regencie", Georgia, Serif;
  font-weight: 600;
}

.acr-layoutgrid {
  display: grid;
}

.acr-layoutflex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acr-flexposition-start {
  justify-content: flex-start;

}

.acr-flexposition-end {
  justify-content: flex-end;

}

.acr-flexposition-center {
  justify-content: center;
}


.is-transparent {
  background-color: transparent;
}


.acr-layoutgrid-hero {
  grid-template-columns: 1fr; /*Numero de columnas en el layout */
  grid-template-rows: 50px 550px;

}

.acr-hero-head {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom: 1px solid #fff;
}

.acr-hero-body {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.acr-layoutgrid-body {
  grid-template-columns: 1fr 2fr; /*Numero de columnas en el layout */
  grid-template-rows: 1fr;
}

.acr-body-content {
  height: 100%;
}

.acr-body-brand {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.acr-body-sitetitl {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
