/* ----------------------------------------------

Home: Fonts

------------------------------------------------- */
@font-face {
 font-family: 'Regencie;''
 src: url("../../fonts/RegencieLight.ttf");
 font-weight: normal;
}


@font-face {
  font-family: 'Monument';
  src:  url('../../fonts/Monument_Valley_1.2-Regular.otf');
  font-weight: normal;
}
